<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<html>
    <body>
        <h1>Diploma</h1>
        <h2>{{usuario}}</h2>
        <h2>{{nombreActividad}}</h2>
    </body>
</html>